<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mi Primera App Web</title>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <script src="/js/myCtrl.js"></script>

</head>
<body ng-controller="myCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cati</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Proyecto <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="divider"></li>
                    <li><a href="/listar_proyecto">Lista Proyecto</a></li>
                    <li class="divider"></li>
                    <li><a href="/crear_proyecto">Crear Proyecto</a></li>
                  </ul>
                </li>

                <li><a href="/crear_encuesta">Crear Encuesta</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/verUsuario">Ver Usuario</a></li>
                        <li><a href="/crearUsuario">Crear Usuario</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido Usuario! <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Ver Perfil</a></li>
                        <li><a href="/modificar_usuario">Modificar Perfil</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" ng-controller="myCtrl">
    <div class="col-sm-6 col-sm-offset-3">
        <!-- LOGIN FORM -->

        <div class="form-group">
            <h1>Descargar audio</h1><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Accion </th>
                    </tr>
                    </thead>

                    <tr ng-repeat= "audios in misAudios">
                        <td><div ng-bind = "audios"></div></td>
                        <td><a ng-href="{{audios}}" ng-show = "audios != 'No se encontraron audios asociados a este proyecto'">descargar</a></td>
                    </tr>

                </table>
        </div>
        <hr>
    </div>

</div>

<a href="/menu">atrás</a>

</body>
</html>



