<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Node Authentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="/js/myCtrl.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body ng-controller="myCtrl">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Bienvenido <%= user.username%></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= user.permiso%></h3>
                <p>
                    <strong>El correo que utilizo para esta cuenta es: </strong><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <p>menú</p>
                    <div ng-repeat = "usuario in permisos">
                        <div ng-show = "usuario == 'ADMIN'">ver usuarios <a href="/VerUsuario"> ir </a>. <br> crear usuario <a href="/crearUsuario"> ir </a>. <br> crear proyecto<a href="/crear_proyecto"> ir </a>. <br>  </div>
                        <div> listar proyecto <a href="/listar_proyecto"> ir </a>. <br> Modificar perfil <a href="/modificar_usuario"> ir </a>.</div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
